<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.iul.iscte.daam.fitmeet">

  <uses-permission
      android:name="android.permission.AUTHENTICATE_ACCOUNTS"
      android:maxSdkVersion="22" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission
      android:name="android.permission.MANAGE_ACCOUNTS"
      android:maxSdkVersion="22" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:name=".FIT2Gather">
    <activity
        android:name=".events.EventsActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".firebase.FirebaseTestActivity" />


    <!-- need to remove keys from source control -->
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="88a08b834bdb2c52231e295aff6554bff62eb250" />

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider1837997173091681"
        android:exported="true" />

    <activity android:name=".account.AccountActivity" />

    <activity android:name=".newevent.view.NewEventActivity" />
  </application>

</manifest>